<h3>Satellite Counts:</h3>
<div class="counts">
    <div>Total: <span>{{satellites.length}}</span></div>
    <div>Space Debris: <span>{{countingSpaceDebris(satellites)}}</span></div>
    <div>Communication: <span>{{countingCommunication(satellites)}}</span></div>
    <div>Probe: <span>{{countingProbe(satellites)}}</span></div>
    <div>Positioning: <span>{{countingPositioning(satellites)}}</span></div>
    <div>Space Station: <span>{{countingSpaceStation(satellites)}}</span></div>
    <div>Telescope: <span>{{countingTelescope(satellites)}}</span></div>
</div>
